*{padding: 0; margin: 0;}
a{text-decoration: none;
    color: black;}
ul{list-style: none;}

body{font-family: '나눔스퀘어';
    font-size: 100%;
    line-height: 120%;
    color: #98897b;}

/*header_out*/
#header_out{width:100%; height: 50px;background-color: #303030;}
 


/* header1 */
#header1{width: 1320px; margin: 0 auto; height: 50px; background-color: #303030;}
.header1_nav{float: right;}
.header1_nav li{float: left; padding: 15px 25px;}
.header1_nav li a{color: #98897b; box-sizing: border-box;
    font-weight: bold;}

/*header2_out*/
#header2_out{width:100%; height: 70px;background-color: #303030;}
 


/* header2 */
#header2{width: 1320px; margin: 0 auto; width: 1320px; height: 70px; background-color: #303030;}
.logo{float: left; margin-left: 25px;}

.header2_nav{float: right;  }
.header2_nav li{float: left; padding: 22px 25px 10px 120px;}
.header2_nav li a{color: #98897b; box-sizing: border-box; 
    font-weight: bold; font-size: 20px;}

/* bar */
.top_bar{width: 1320px; height: 1px; margin: 105px auto;}
.top_bar ul .home{float: left;}
.top_bar ul .icon{float: right;}
.icon{margin-left: 15px;}

/* con1 */
#con1{width: 1320px; height: 100px; margin: 80px auto; 
}

.box{height: 100px;}
.box ul li{text-align: center;
    float: left; width: 33.3%; border: #98897b solid 1px; box-sizing: border-box;}
.box ul li a{padding: 40px 0px; font-size: 30px; display: block;}


.banner{
    position:relative;
    margin: 50px auto; 
    width: 100%; height: 290px;
        background: url(images/membership_1.jpg) no-repeat top center;}


h2{
    position:absolute; 
    top:40%; left:15%;
    line-height: 130%;
}

/* con2 */
#con2{width: 1320px; height: 200px; margin: 80px auto; position: relative;}
.card{position: absolute; top: 20px; right: 40px;}
.beige{margin-top: 40px;}
h4{margin-top: 30px;}

/* con3 */
#con3{width: 1320px; height: 820px; margin: 20px auto;}

.red{color: #b83a3a;}

.membershiplist>li{float:left; width:315px; box-sizing: border-box;  border:1px solid #bdaea1;  
    margin-right:20px;   
}
.membershiplist>li:nth-child(4){margin-right:0;}

.membershiplist li div{padding:30px; box-sizing: border-box;}


.bgbg{background-color:#f9f9f9;
    text-align: center;
}

.line{background: url(images/membership_4.png) no-repeat center bottom;}


.height{height:400px;}

/* guide */
#guide{width: 1320px; height: 300px; 
    margin: 0px auto;} 
.guideline{ border: #98897b solid 1px;}

.guidegold{font-size: 35px; font-weight: 800px;
    border-bottom: 1px solid #98897b;
    padding:30px 30px;
    }

    .padding{padding:30px 30px;}




/*footer1*/ 
#footer1_out{width: 100%; height: 50px; background-color: #bdaea1}
.footer1{width: 1320px; height: 50px; margin: 0 auto;}
.footer1 ul li{float: left; padding: 15px 140px 0 0;}
.footer1 ul li a{display: block; 
    color: #565656;}

 .footer1 ul li:nth-child(6) {padding-right:0;}   



/*footer2*/ 
#footer2_out{width: 100%; height: 250px; background-color: #303030;}
.footer2{width: 1320px; height: 250px; margin: 0 auto;
position: relative;}

.bold{font-weight: bold;}


.footer2>ul{width:1320px; margin:0 auto; height:120px;}
.footer2>ul>li{float:left; width:33%;}

.footer_box1{    width:440px;
    padding: 50px 130px 0 0; font-size: 20px;
}
.footer_box2{
    width:440px;
   
}
.footer_box3{
    width:440px;
    text-align: right;
}


/* 
.footer2 ul{height: 150px; } */
/* .footer2 ul li{float: left;}
.footer2 ul li a{display: block;}*/

 /* .snsul li{padding-top: 15px; } */
.snsul>li{float: left; margin-right:15px;
  
}