*{padding: 0; margin: 0;}
a{text-decoration: none;
    color: black;}
ul{list-style: none;}

body{font-family: '나눔스퀘어';
    font-size: 100%;
    line-height: 120%;
    color: #98897b;}

/*header_out*/
#header_out{width:100%; height: 50px;background-color: #303030;}
 


/* header1 */
#header1{width: 1320px; margin: 0 auto; height: 50px; background-color: #303030;}
.header1_nav{float: right;}
.header1_nav li{float: left; padding: 15px 25px;}
.header1_nav li a{color: #98897b; box-sizing: border-box;
    font-weight: bold;}

/*header2_out*/
#header2_out{width:100%; height: 70px;background-color: #303030;}
 


/* header2 */
#header2{width: 1320px; margin: 0 auto; width: 1320px; height: 70px; background-color: #303030;}
.logo{float: left; margin-left: 25px;}

.header2_nav{float: right;  }
.header2_nav li{float: left; padding: 22px 25px 10px 120px;}
.header2_nav li a{color: #98897b; box-sizing: border-box; 
    font-weight: bold; font-size: 20px;}

/* bar */
.top_bar{width: 1320px; height: 1px; margin: 105px auto;}
.top_bar ul .home{float: left;}
.top_bar ul .icon{float: right;}
.icon{margin-left: 15px;}

/* con1 */
#con1{width: 1320px; height: 900px; margin: 80px auto; 
}

.box{height: 100px;}
.box ul li{text-align: center;
    float: left; width: 33.3%; border: #98897b solid 1px; box-sizing: border-box;}
.box ul li a{padding: 40px 0px; font-size: 30px; display: block;}

.wedding{margin: 50px auto; 
    width: 1280px; height: 530px;
        background: url(images/wedding_1.jpg) no-repeat top center;}

h1{margin: 60px 0;}        
h2{margin: 20px 0; font-weight: 300;}
.black{color: black;}

/* con2 */
#concept{width: 1320px; height: 750px; 
margin: 20px auto; padding: 30px 0;
border-top: solid 2px #98897b ;
border-bottom: solid 2px #98897b ;}


.concept_ul ul li{float: left; padding-right: 26.5px;}
.concept_ul ul li:nth-child(4){padding-right: 0px;}

.concept_ul ul li a{width: 100%;}

/* con3 */
#con3{width: 1320px; height: 1200px; margin: 0 auto;
   
}

.promotion{width: 1320px; height: 700px;}
.promotion li{float: left; margin-right: 99px;}
.promotion li a{display: block;}

.promotion li:nth-child(2){margin-right: 0px;}
/* 거리 조정하고싶으면 84 랑 20 같이 더하고빼면됨 (24차이나면됨) */

.promotionp{margin-top: 30px; line-height: 20px;}

/* footer */

 /*footer1*/ 
 #footer1_out{width: 100%; height: 50px; background-color: #bdaea1}
 .footer1{width: 1320px; height: 50px; margin: 0 auto;}
 .footer1 ul li{float: left; padding: 15px 140px 0 0;}
 .footer1 ul li a{display: block; 
     color: #565656;}
 
  .footer1 ul li:nth-child(6) {padding-right:0;}   
 
 
 /*footer2*/ 
 #footer2_out{width: 100%; 
     /* height: 250px; */
      background-color: #303030;}
 .footer2{width: 1320px;margin: 0 auto;
 position: relative;}
 
 .bold{font-weight: bold;}
 
 .footer_box1{padding: 50px 130px 0 0; font-size: 20px;}
 
 .footer_box2{position: absolute top right 50px;  }
 
 .footerlogo{padding-top: 15px;}
 
 .footer2 ul{height: 100px; }
 .footer2>ul>li{float: left;}
 .footer2>ul>li>a{display: block;}
 
 .sns ul{padding-top: 15px; }
 
 .sns ul li{float: left; padding-right: 15px;}
 
 
 select{padding:10px; background-color: beige; margin-top:50px;}
 option{padding:10px; background-color: beige;}
 
 
 .f{clear:both;}
 .bold{padding-top:0;}